
<span class="relative flex overflow-hidden rounded-full p-[1px] h-10">
    <span class="absolute inset-[-1000%] animate-[spin_5s_linear_infinite] bg-[conic-gradient(#b6b6f2_0%,#333147_50%,#b6b6f2_100%)]">
    </span>
    <div class="inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-black/50 px-3 py-1 text-sm font-medium text-white backdrop-blur-3xl whitespace-nowrap"> 
       
        <a
        {... Astro.props}
        target="_blank"
        rel="noopener noreferrer"
        >
            <slot/>
        </a>
    </div>

</span>
