---
import ExpStudiesItem from "./ExpStudiesItem.astro";


import { getI18n } from "../I18n";

const { currentLocale } = Astro
const i18n = getI18n({ currentLocale }) as { [key: string]: string };

const EXPERIENCESTUDIES = [
  {
    title: i18n.EXPANDESTU_TFG_TITLE,
    date: i18n.EXPANDESTU_TFG_DATE,
    description:i18n.EXPANDESTU_TFG_DESC,
    link: "https://github.com/Gorosss/TFG-Programacion_visual_de_la_produccion",
  },
  {
    title: i18n.EXPANDESTU_PRACTICES_TITLE,
    date: i18n.EXPANDESTU_PRACTICES_DATE,
    description:i18n.EXPANDESTU_PRACTICES_DESC,
  },
  {
    title: i18n.EXPANDESTU_UNI_TITLE,
    date: i18n.EXPANDESTU_UNI_DATE,
    description:i18n.EXPANDESTU_UNI_DESC
  }
];
---

<ul class="relative border-s border-gray-500 ml-2.5">
  {
    EXPERIENCESTUDIES.map(({ title, date, description, link }) => (
      <li class="mb-10 ms-4 ">
        <ExpStudiesItem
          title={title}
          date={date}
          description={description}
          link={link}
        />
      </li>
    ))
  }
</ul>
