<footer class=" shadow m-4  flex justify-center items-center mt-2 py-2 w-[740px]">
    <div
        class="w-full rounded-lg bg-black/20 backdrop-blur mx-auto max-w-screen-xl p-5 md:flex md:items-center md:justify-between"
    >
        <span class="text-sm  sm:text-center text-gray-400"
            >© 2024 <a href="#inicio" class="hover:underline"
                >Jon Gorostegui </a
            >Todos los derechos reservados.
        </span>
        <ul
            class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 sm:mt-0"
        >
            <li>
                <a href="#sobre_mi" class="hover:underline me-4 md:me-6">Sobre mi</a>
            </li>
            <li>
                <a href="mailto:jongorostegui@gmail.com" class="hover:underline">Contacto</a>
            </li>
        </ul>
    </div>
</footer>
