<header class="rounded-full border border-white/35 bg-black/50 flex justify-center items-center mt-2 py-2 w-[740px]">
   
    <nav class="flex flex-row gap-x-10">     
        <a href="#">Inicio</a>
        <a href="#contacto">Contacto</a>
        <a href="#experienciaEstudios">Experiencia y estudios</a>
        <a href="#proyectos">Proyectos</a>
    </nav>
</header>