<header class="rounded-full border border-white/35 bg-black/50 flex justify-center items-center mt-2 py-2 w-[740px]">
   
    <nav class="flex flex-row gap-x-10">     
        <a href="/">Inicio</a>
        <a href="/Contacto">Contacto</a>
        <a href="/Proyectos">Proyectos</a>
        <a href="/Experiencia">Experiencia</a>
        <a href="/Educación">Educación</a>
    </nav>
</header>