---
import SpanishFlag from "./icons/Spanish.astro";
import EnglishFlag from "./icons/English.astro";
import { getI18n } from "../I18n";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale }) as { [key: string]: string };
---

<header
    class="rounded-full border border-white/35 bg-black/50 flex justify-center items-center mt-2 py-2 md:w-[740px]  w-full"
>
    <nav class="flex flex-row gap-x-4">
        <a href="#experienciaEstudios">{i18n.EXPANDESTU_TITLE}</a>
        <a href="#proyectos">{i18n.PRO_TITLE}</a>
        <a href="#sobre_mi">{i18n.ABUOTME_TITLE}</a>
        

        {
            currentLocale === "es" ? (
                <a href="/en" aria-label="Change language to english">
                    <EnglishFlag />
                </a>
            ) : (
                <a href="/" aria-label="Cambiar idioma al español">
                    <SpanishFlag />
                </a>
            )
        }
    </nav>
</header>
